body {
  background-color: #ffffff1f;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  background-image: url('./images/myFon.jpg');
  margin-top: 40px;
  margin-left: 40px;
}

div {
  display: block;
  /* justify-content: space-between; */
  /* align-items: baseline; */
  text-align: left;
  line-height: 2;
  padding-right: 40px;
}

input {
  height: 50px;
  width: 200px;
  padding-left: 5px;
  margin-bottom: 40px;
}
h2 {
  text-align: center;
}
ul {
  padding-left: 0;
}
li {
  margin-left: 20px;
}
.country {
  display: flex;
}
.country-content {
  padding-top: 30px;
}
